html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.scrollpage-outer {
  margin: auto;
}

.scrollpage-outer, .view {
  overflow: hidden;
  outline: none;
}

.scrollpage-inner {
  transition-property: transform;
  transition-timing-function: var(--timefunc);
  transition-duration: var(--duration);
  transition-delay: var(--delay);
  
  transform: translate(var(--dx), var(--dy));
}

.scrollpage-outer.touch .scrollpage-inner {
  user-select: none;
  touch-action: none;
  transition: none!important;
}

.scrollpage-outer.swipe .scrollpage-inner {
  transition: .3s!important;
}

.scrollpage-outer.landscape .scrollpage-inner {
  display: inline-flex;
}

.scrollpage-outer.fullpage,
.scrollpage-outer.fullpage .view {
  width: 100vw;
  height: 100vh;
}

/* SLIDER MODE START */

.scrollpage-outer.slider {
  overflow: initial;
}

.scrollpage-outer.slider .view {
  margin-bottom: 20px;
  margin-right: 0;
}

.scrollpage-outer.slider .view:last-child {
  margin-bottom: 0;
}

.scrollpage-outer.landscape.slider .view {
  margin-bottom: 0;
  margin-right: 20px;
}

.scrollpage-outer.landscape.slider .view:last-child {
  margin-right: 0;
}
/* SLIDER MODE END */